.custom-toolbar .MuiButtonBase-root {
    font-size: 9px;
    height: 14px !important;
    color: rgb(165, 163, 163) !important; /* Change this to your desired color */
}

.custom-toolbar .MuiSvgIcon-root {
    height: 12px !important;
    color:rgb(165, 163, 163) !important; /* Change this to your desired color */
}
